{% load i18n %}
<form method="get" action="{% url 'library_search' %}">
<span>{% trans 'Search' %}</span>
<input id="search_id" type="text" name="q">
</form>
<script>
    $( "#search_id" ).autocomplete({
      source: "http://localhost:8000/autocomplete/",
      minLength: 2,
    });
</script>