{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <form enctype="multipart/form-data" action="{% url 'add_book' %}" method="post">
    {{form.non_field_errors}}
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit"  >{% trans 'Add' %}</button>
    </form>
{% endblock content%}

{% block side-menu %}
{% endblock side-menu %}