{% extends "library/base.html" %}
{% load url from future %}

{% block content %}
<h2>Books published in {{ year }}</h2>
<table>
{% for book in object_list %}
<tr>
<td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
<td>{{ book.sortkey }}</td>

</tr>
{% endfor %}
</table>
<p>
<a href="{{ previous_year }}">{{ previous_year }}</a>
<a href="{{ next_year }}">{{ next_year }}</a>
</p>
{% endblock content %}
