{% extends "library/base.html" %}
{% load url from future %}

{% block content %}
<table>
{% for book in object_list %}
<tr>
<td style="width: 20ex">{{ book.modified|date:"Y-m-d H:i:s" }}</td>
<td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
<td>{{ book.sortkey }}</td>
<td><a href="{% url 'year_detail' year=book.year_published %}">{{ book.year_published|date:"Y" }}</a></td>

</tr>
{% endfor %}
</table>
{% endblock content %}
