{% extends "library/base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
{% if user.is_staff %}
<div class="row">
    <div class="col-md-offset-7">
        <a href="{% url 'add_book' %}">
            <button type="button"  >{% trans 'Add book' %}</button>
        </a>
    </div>
</div>
{% endif %}
<div class="col-md-12">
<table class="table table-striped">
{% for book in object_list %}
<tr>
<td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
<td>{{ book.sortkey }}</td>
<td><a href="{% url 'year_detail' year=book.year_published|date:'Y' %}">{{ book.year_published|date:"Y" }}</a></td>
<td><a href="{{book.file.url}}"><span class="glyphicon glyphicon-globe"></span></a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock content %}
