{% extends "library/base.html" %}
{% load url from future %}

{% block content %}

<h2>{{ object.title }}</h2>
<p>{% for author in object.authors.all %}
<a href="{% url 'author_detail' pk=author.pk %}">{{ author.name }}</a>
{% endfor %}
</p>
<p>{{ object.year_published|date:"Y" }}</p>

{% endblock content %}
