{% extends "library/base.html" %}
{% load url from future %}
{% load url i18n %}

{% block content %}

<h2>{% blocktrans %}Are you sure you want to delete "{{ object.title }}"?{% endblocktrans %}</h2>
<form action="." method="post">
 {% csrf_token %}
<input type="submit" value="{% trans 'Delete' %}" />
<p><a href="{% url 'book_detail' pk=object.pk %}">{% trans 'Nope' %}</a></p>
</form>
{% endblock content %}
