{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <form action="{% url 'login' %}" method="post">
    {{form.non_field_errors}}
    {%csrf_token%}
    {{form.as_p}}
    <button class="btn btn-success" type="submit"  >{% trans 'Sign in' %}</button>
    <a href="{% url 'registration' %}">
        <span>or</span>
    <button class="btn btn-primary" type="button"  >{% trans 'Register' %}</button>
    </a>
    </form>

{% endblock content%}

{% block side-menu %}
{% endblock side-menu %}