{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <form action="{% url 'registration' %}" method="post">
    {{form.non_field_errors}}
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit"  >{% trans 'Register' %}</button>
    </form>
{% endblock content%}

{% block side-menu %}
{% endblock side-menu %}