{% extends "library/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<h2>{% blocktrans %}Your search for "{{ query }}" returned {{ object_list.count }} results{% endblocktrans %}</h2>
<table class="table">
{% for book in object_list %}
<tr>
<td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
<td>{{ book.sortkey }}</td>
<td><a href="{% url 'year_detail' year=book.year_published|date:'Y' %}">{{ book.year_published|date:"Y" }}</a></td>

</tr>
{% endfor %}
</table>
{% endblock content %}
