{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<h2>{% blocktrans %}Your book added successfully{% endblocktrans %}</h2>
<a href="{% url 'book_list' %}">
    <button type="button"  >{% trans 'Home' %}</button>
</a>
{% endblock content %}