<!DOCTYPE html>{% load i18n %}
<html>
<head>{% trans 'Library' as library %}
    <title>{{library}}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.10.4.custom.min.css">
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/csrf.js"></script>

    <style>
        body {background-color:#faeedd;}
    </style>
</head>

  <body>
  <div>
      {% if user.is_authenticated %}
        <div class="col-md-offset-9">{{user}} <a href="{% url 'logout' %}">{% trans 'Log out' %}</a></div>
    {% endif %}
  </div>
  <div>
    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Go' %}" />
    </form>
</div>


     <div class="text-center"><h1 class="text-primary">{{library}}</h1></div>

<div class="col-md-5">
    {% block header %}

    {% endblock header %}
</div>

<div class="col-md-10">

    {% block content %}
    {% endblock content %}


</div>


</body>
</html>





